# MongoDB
MONGO_URI=mongodb+srv://hawtinharry_db_user:7mh7OQhfWLWJ8dW1@patiencecluster.yiw7tkr.mongodb.net/?appName=PatienceCluster

# News APIs
NEWSAPI_KEY=your_newsapi_key_here
GNEWS_KEY=your_gnews_key_here
MEDIASTACK_KEY=your_mediastack_key_here

# Google Gemini
GEMINI_API_KEY=your_gemini_key_here